

.settingIcon{
    -webkit-animation: rotate-center 8s linear infinite forwards;
	        animation: rotate-center 8s linear infinite forwards;
}
@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  .sidebarScoller {
    overflow-y: hidden;
    transition: overflow-y 0.3s ease-in-out;
}

/* Show scrollbar on hover */
.sidebarScoller:hover {
    overflow-y: auto;
}
.sidebarScoller::-webkit-scrollbar-thumb{
  border-radius: 20px;
  /* background-color: #2e3944; */
}

.menuIcons:hover{
  /* background-color: #2e3944 !important; */
  font-size:25px !important;
}
.listItemDark:hover{
  background-color: #1D242B !important;
}
.listItemLight:hover{
  background-color: #ECEFF2 !important;
}
.listItem::before{
  content: "";
  background-color: #535C66;
  width: 15px;
  height: 1.5px;
  border-radius: 0 20px 20px 0;
  margin-right: 2px;
}