@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../node_modules/@syncfusion/ej2-pdfviewer/styles/material.css";
html,
body,
#root,
.app,
.content{
  height: auto;
  width: 100%;
  /* font-family: "Source Sans Pro", sans-serif; */
}

/* .app{
  display: flex;
  position: relative;
  width: 100%;
} */

::-webkit-scrollbar{
  width: 6px !important;
}

::-webkit-scrollbar-thumb{
  background: #b6b5b55e;
}
::selection{
  background-color: rgb(168, 205, 238);
  color: black;
}
svg{
  font-size: 20px !important;
}
.menuIcons{
  font-size: 25px !important;
}
.cloudIcon{
  font-size: 70px !important;
}
.flex{
  display: flex;
  align-items: center;
  gap: 10px;
}